.pane{
    -fx-background-color: #191919;
    /*-fx-background-color: cyan;*/
}
.pane .viewport {
    -fx-background-color: transparent;
}

.btns{
    -fx-background-color: transparent;
}

.btns:hover{

    -fx-background-color: #484848;
}

